@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/*https://material.io/color/#!/?view.left=0&view.right=0&primary.color=424242&primary.text.color=ffffff&secondary.color=FFAB40*/

body {
    background-color: #424242;
    color: lightgray;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

#top {
    background-color: #424242;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#dialog #dialogText {
    float: left;
    width: 50%;
}

#dialog video {
    float: right;
}

a {
    color: lightgray;
}

video {
    padding-top: 12px;
}

ul {
    display: block;
    list-style-type: disc;
}

li {
    display: inline;
}

#page-content {
    text-align:center;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    padding-top: 2em;
}

#project {
    display: inline-block;
    position: relative;
    padding: 0px 5px 0px 5px;
    margin: 0;
    cursor: pointer;
    /*background-color: darkgray;*/
}

#project div {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 210px;
    margin: 0;
    z-index: 1;
}

#project #desc {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 210px;
    margin: 0;
    z-index: 1;
}

#project #foreground {
    position: absolute;
    width: inherit;
    height: 180px;
    top: 0;
    right: 0;
}

#project #thumbnail {
    padding-top: 20px;
    width: 200px;
    height: 150px;
}

#page-container {
    max-width: 860px;
    display: flex;
    margin: auto;
    padding: 0 1em;
    flex-direction: column;
    flex-grow: 1;
}

#page-header {
    display: block;
    float: left;
    width: 100%;
    margin: auto;
    padding: 1em 0 .5em 0;
}

#page-header #name {
    display: block;
    margin: auto;
    width: 8em;
}

#page-header #name_first {
    margin: 0px;
    font-size: 2.2em;
    margin-bottom: .25em;
    border-bottom: 0;
    text-decoration: none;
}
#page-header #name_last {
    margin: 0px;
    font-size: 1.3em;
    margin-bottom: .25em;
    border-bottom: 0;
    text-decoration: none;
}

#gameBlock {
    margin-top: 20px;
    border-top: 1px dotted black;
}
#programmingBlock {
    margin-top: 20px;
    border-top: 1px dotted black;
}
#threeDBlock {
    margin-top: 20px;
    border-top: 1px dotted black;
}


