@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=7986CB*/

$primary-color: #424242;
$primary-light-color: #6d6d6d;
$primary-dark-color: #1b1b1b;
$secondary-color: #7986cb;
$secondary-light-color: #aab6fe;
$secondary-dark-color: #49599a;
$font-color: lightgrey;

body {
  background-color: $primary-color;
  color: $font-color;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

#top {
  background-color: $primary-color;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#dialog {
  #dialogHeader {
    text-align: center;
  }
  #dialogText {
    text-align: justify;
    text-justify: inter-word;
    float: left;
    width: 35%;
  }
  #innerHtmlDiv {
    float: right;
    height: 0%;
  }

  .sketchfab-embed-wrapper {
    float: right;
  }
  iframe {
    width: 430px;
  }
}

ul {
  display: block;
  list-style-type: disc;
}

li {
  display: inline;
}

#blockHeader {
  margin: 0px;
  font-size: 1.8em;
  margin-bottom: .25em;
  padding-bottom: .25em;
  border-bottom: 3px solid $font-color;
  text-decoration: none;
}

#page-content {
  background-color: $primary-color;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

#project {
  display: inline-block;
  position: relative;
  padding: 0px 5px 0px 5px;
  margin: 0;
  cursor: pointer;
  /*background-color: darkgray;*/
  video {
    padding-top: 12px;
  }  
  div {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 210px;
    margin: 0;
    z-index: 1;
  }
  #desc {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 210px;
    margin: 0;
    z-index: 1;
  }
  #foreground {
    position: absolute;
    width: inherit;
    height: 180px;
    top: 0;
    right: 0;
  }
  #thumbnail {
    padding-top: 20px;
    width: 200px;
    height: 150px;
  }
}

#page-container {
  max-width: 860px;
  display: flex;
  margin: auto;
  padding: 0 1em;
  flex-direction: column;
  flex-grow: 1;
}

#page-header {
  display: block;
  float: left;
  width: 100%;
  padding: 1em 0 0 0;
  text-align: center;
  #name {
    display: inline-block;
  }
  #name_first {
    margin: 0px;
    font-size: 3em;
    border-bottom: 0;
    text-decoration: none;
  }
  #name_last {
    margin: 0px;
    font-size: 1.8em;
    margin-bottom: .25em;
    padding-bottom: .25em;
    border-bottom: 3px solid $font-color;
    text-decoration: none;
  }
}

#gameBlock, #programmingBlock, #threeDBlock {
  margin-top: 15px;
}

.mat-dialog-container {
  color: $font-color;
  background-color: $primary-color;
}

@media only screen and (max-width: 900px) {
  #dialog {
    #dialogText {
      text-align: justify;
      text-justify: inter-word;
      float: left;
      width: 100%;  
    }
    .sketchfab-embed-wrapper {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
    #innerHtmlDiv {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
    iframe {
      width: inherit;
    }
    video {
      width: inherit;
      height: inherit;
      padding-top: 0px;
    }
  }
}

@media only screen and (max-width: 600px) {
  #project {
    zoom: 0.8;
  }
  #dialog { 
    iframe {
      height: 300px;
    }
  }
}

@media only screen and (max-width: 400px) {
  #project {
    zoom: 0.6;
  }

  #dialog {
    #dialogText {
      font-size: 90%;
      float: none;
      width: 100%;
    }
  }
}

@-moz-document url-prefix() {
  @media only screen and (max-width: 600px) {
    #project {
      -moz-transform:scale(0.8,0.8); /* Firefox */
      margin: -20px;
    }
    app-video-project {
      width: 80%;
    }
  }

  @media only screen and (max-width: 400px) {
    #project {
      -moz-transform:scale(0.6,0.6); /* Firefox */
      margin: -40px;
    }
    app-video-project {
      width: 60%;
    }
  }
}